@import "../variables";

/*Alert bar*/
.alert {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  background-color: $red;
  padding: 20px;
  color: $white;
  text-align: center;
  opacity: 0;
  transition: opacity linear .5s;

  &.show {
    opacity: 0.5;
  }
}

.alert__text {
  margin: 0;
}

.alert__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}