@import "../variables";

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px 20px;
}

.article {
  flex-grow: 1;
  width: 40%;
  min-width: 250px;
  margin: 10px;
  text-decoration: none;
  color: $black;
  box-shadow: 0 0 10px $lightGrey;

  &:hover {
    box-shadow: 0 0 20px $lightGrey;
  }
}

.article__container {
  padding: 20px;
}

.article__header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid $lightGrey;
  font-size: 16px;
  font-weight: bold;
}

.article__body {
  margin-bottom: 20px;
}

.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__date {
  font-size: 10px;
}

.article__source {
  padding: 5px 10px;
  border-radius: 10px;
  background: $grey;
  color: $white;
  font-size: 12px;
}