@import "../variables";

.sources {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid $lightGrey;
  padding: 0 20px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    width: 350px;
    display: inline-block;
  }

  input {
    margin-right: 20px;
  }
}